---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-xs font-light">
      Hi, I'm Jack, a front-end software developer from Poland.
      <br />
       My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>Nuxt.js</li>
        <li>Tailwind CSS</li>
        <li>Astro.js</li>
        <li>Three.js</li>
        <li>Nest.js</li>
        <li>Node.js</li>
      </ul>
      <p>
        <a href="https://marcinszymczak.pl/cv_jacek.pdf" target="_blank">
          <img src="https://skillicons.dev/icons?i=js,ts,tailwind,nuxt,astro,threejs,nestjs,node" />
        </a>
      </p>
    </p>
    <p class="text-xs font-light">
      Beyond coding, I'm passionate about design, coding, business modeling and making music 🎸
    </p>
    <p class="text-xs font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even if it's not on my usual list. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
